/* Estilos Generales */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 12px;
  background-color: #ECEFF4; /* Agregado para establecer el color de fondo */
}

button {
  width: 100%;
  height: 50px; 
  background: #4E9CA3;
  padding: 17px 20px;
  border-radius: 30px;
  border: 0;
  color: #ECEFF4;
  font-family: Dongle, sans-serif;
  font-size: 15px; 
  font-weight: bold;
  letter-spacing: 5px;
  text-align: left;
  display: flex;  
  position: relative;  
  padding-left: 30px;
}

.fondo-principal {
  width: 100%;
  height: 800px;
  background-color: #ECEFF4;
  top: 120px;
  overflow: visible; /* Cambiado de hidden a visible */
}

.menu-lateral {
  width: 350px;
  height: 100vh;
  position: relative;
  overflow: hidden;
}


.fondo-lateral-izquierdo {
  position: fixed;
  top: 0;
  left: 0;
  width: 350px;
  height: 100%;
  background: rgba(124, 192, 197, 1);
  overflow: hidden;
}

.menu-opciones {
  width: 300px;
  position: absolute;
  top: 250px;
  left: 25px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.foto-perfil {
  width: 150px;
  height: 150px;
  background: url("../images/Foto_perfil.png") center center / cover no-repeat;
  border-radius: 50%;
  position: absolute;
  top: 30px;
  left: 80px;
}

.titulo-marca {
  width: 100%;
  color: rgba(48, 123, 128, 1);
  position: absolute;
  bottom: 20px;
  left: 0;
  font-family: 'Capriola', sans-serif;
  font-size: 20px;
  text-align: center;
  z-index: 10; /* Asegura que esté por encima de otros elementos */
}

/* Estilos de Configuración */
.configuracion {
  width: 950px;
  margin-left: 520px; /* Mover más a la derecha */
  margin-top: -750px; /* Mover más hacia arriba */
  font-family: 'Dongle', sans-serif;
  font-size: 22px;
  color: rgba(48, 123, 128, 1);
}

.section_fondo {
  width: 100%;
  height: 40px;
  background: rgba(187, 218, 221, 1);
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  font-weight: bold;
  font-size: 40px; /* Aumentar el tamaño de fuente */
  letter-spacing: 9px; /* Aumentar el espaciado entre letras */
}
.opciones {
  padding: 10px 0;
}

.opcion {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;
}

.info {
  display: flex;
  align-items: center;
  font-size: 28px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 20px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #4db6ac;
}

input:checked + .slider:before {
  transform: translateX(14px);
}
