/* Estilos Generales */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Dongle', sans-serif;
    background-color: #ECEFF4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .contenedor {
    width: 100%;
    max-width: 1400px;
    /*Másanchoparapantallasgrandes*/background: #ffffff;
    border-radius: 16px;
    padding: 12px;
    /*Aumentadoparamayorespaciointerno*/box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
    text-align: center;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}
  
  .titulo-seccion {
    font-family: 'Capriola', sans-serif;
    font-size: 48px; /* Título más grande */
    color: #2E3440;
    margin-bottom: 40px;
  }
  
  .contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  
  .imagen {
    width: 300px; /* Imagen más grande */
    height: 300px;
    background-color: #D8DEE9;
    border: 3px dashed #020202;
  }
  
  .errores-cometidos {
    background: #ECEFF4;
    border: 1px solid #D8DEE9;
    border-radius: 8px;
    padding: 30px; /* Más espacio interno */
    width: 80%; /* Más ancho */
    text-align: left;
    font-size: 25px;
    color: #4C566A;
  }
  
  .estadisticas {
    display: flex;
    justify-content: space-around;
    width: 80%; /* Más ancho */
  }
  
  .resultado, .exp {
    font-size: 35px; /* Texto más grande */
    font-weight: bold;
    color: #5E81AC;
    padding: 30px; /* Más espacio interno */
    border: 1px solid #D8DEE9;
    border-radius: 8px;
    flex: 1;
    text-align: center;
    margin: 0 20px; /* Espaciado entre estadísticas */
  }
  
  .mensaje-practicar {
    font-size: 40px;
    color: #BF616A;
  }
  
  .boton-continuar {
    background-color: #5E81AC;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 20px 40px; /* Botón más grande */
    font-size: 20px; /* Texto más grande */
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .boton-continuar:hover {
    background-color: #4C566A;
  }
  