body {
    margin: 0;
    font-family: 'Capriola', sans-serif;
}

.dropdown-container {
    padding: 10px;
    background-color: #f8f9fa;
    text-align: right;
}

.dropdown-container select {
    padding: 5px;
    font-size: 14px;
}

.cuadro1 {
    width: 100%;
    padding: 20px;
    background-color: lightblue;
    text-align: center;
}

.cuadro1 h1 {
    font-size: 2rem;
}

.cuadro2 {
    width: 100%;
    padding: 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;    
}

.contenedor-imagen img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.contenedor-cuadros {
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.contenedor-cuadros p {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.boton {
    background-color: #024e7a;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 1rem;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    width: 100%;
}

.boton:hover {
    background-color: #45a049;
}

@media (min-width: 768px) {
    .cuadro2 {
        flex-direction: row;
        gap: 30%;
        align-items: center;
    }

    .contenedor-cuadros {
        max-width: 300px;
        text-align: left;
    }

    .boton {
        width: auto;
        padding: 10px 20px;
    }
}

@media (min-width: 1024px) {
    .cuadro1 h1 {
        font-size: 2.5rem;
    }

    .contenedor-cuadros p {
        font-size: 2rem;
    }
}